services:
    app:
        ports:
            - "9000:9000"
        volumes:
            # 1. Bind mount for real-time development
            - ./:/var/www/hmis/
            - ./docker.env:/var/www/hmis/.env
            # 2. Named volumes to "hide" permission changes from the host
            - app-storage:/var/www/hmis/storage
            - app-cache:/var/www/hmis/bootstrap/cache

    server:
        volumes:
            # Match the bind mount and named volumes here too
            - ./:/var/www/hmis/:ro
            - app-storage:/var/www/hmis/storage:ro
            - app-cache:/var/www/hmis/bootstrap/cache:ro
            - ./infra/nginx_dev/sites_enabled/:/etc/nginx/conf.d/
        ports:
            - "8000:8000"
            - "80:80"
            - "8081:8081"
