@import "components/forms";
@import "components/buttons";
@import "components/modals";
@import "components/spacings";

@layer utilities {
    .bold {
        @apply font-semibold;
    }
}

@layer components {
    .input {
        @apply border border-gray-500 p-[5px] rounded-md;
    }

    .drag_drop {
        @apply hover:bg-gray-100 cursor-pointer w-full border-4 border-dashed p-3 grid place-items-center;
    }

    .table {
        @apply border border-[#ccc] border-collapse w-full;

        thead th:not(:last-of-type) {
            border-right: 1px solid #ccc;
        }

        tbody td {
            padding: 4px 6px;

            &:not(:last-of-type) {
                border-right: 1px solid #ccc;
            }
        }

        tbody tr {
            border-top: 1px solid #ccc;
        }

        tfoot {
            td {
                padding: 14px 2px;

                span,
                a {
                    padding: 2px 6px;
                    text-decoration: none;
                    // background-color: #ccc;
                    margin: 0 2px;
                    border-radius: 3px;

                    &.active {
                        background-color: #000;
                        color: #fff;
                    }
                }

                span {
                    cursor: not-allowed;
                }

                a:hover {
                    // background-color: #aaa;
                    text-decoration: underline;
                }
            }
        }

        &.bordered {

            tr,
            td,
            th {
                border: 1px solid #888;

            }
        }
    }

    .active-tab {
        @apply border-sky-500 text-sky-600;
    }

    .default-tab {
        @apply border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700;
    }

    .card {
        @apply px-1 py-2;
    }

    .btn-sm {
        @apply text-xs;
    }

    .bg-secondary, .btn-secondary {
        @apply bg-green-700;
    }
    .btn-secondary {
        @apply text-white;
    }

    h2 {
        @apply text-2xl bold;
    }

    .sp-list {
        li {
            @apply border-inherit p-0.5;
        }

        li:not(:last-of-type) {
            @apply border-b;
        }
    }

    .link {
        @apply underline hover:text-blue-600 cursor-pointer;
    }
}

::root {
    font-size: 16px;
    scroll-behavior: smooth;
}

.foldable {
    .foldable-body {
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out;

        &.unfolded {
            height: max-content;
        }
    }

    .foldable-header::before {
        content: "(Click to view)";
        font-size: small;
        vertical-align: middle;
    }

    .foldable-header {
        cursor: pointer;
    }
}

p {
    max-width: 100%;
}

.card {
    // background-color: #fff;
    @apply bg-white;
    border-radius: 6px;

    &>.header {
        padding: 8px 6px;
        // background-color: #fff;
        border-bottom: 1px solid #ccc;
        border-radius: 6px 6px 0 0;
    }

    &>.footer {
        padding: 4px 6px;
        font-size: 1.2em;
        font-family: Arial, Helvetica, sans-serif;
    }

    & .card-header {
        font-size: 2em;
    }
}

.tag-input {
    background-color: #ccc;
    margin-right: 4px;
    padding: 2px 6px;
    border-radius: 24px;

    button {
        background-color: inherit;
        border: none;
        font-size: 1.1rem;
        margin: 0 4px;
        cursor: pointer;
        height: 0;

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        margin-left: 4px;
    }
}

.tag-input-2 {
    padding: 4px;
    border-radius: 24px;
    background-color: #aaa;
    display: flex;
    width: fit-content;

    .tag-input {
        background-color: #fff;
    }

    input {
        border-radius: 24px;
        border: none;
        padding: 4px;
    }
}

.table-list {
    border-collapse: collapse;
    width: 100%;

    th {
        text-align: left;
    }

    tr {
        border: 1px solid #888;
    }

    th,
    td {
        padding: 4px;
    }
}

.no-print {
    @media print {
        display: none;
    }
}

.only-print {
    display: none;

    @media print {
        display: initial;
    }
}

.notice {
    padding: 12px;
    background-color: #ff9900;
    margin-bottom: 10px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: underline;
    animation-name: fadeaway;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 10000;
}

@keyframes fadeaway {
    50% {
        opacity: 50%;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@tailwind base;
@tailwind utilities;
@tailwind components;
