@import "@fortawesome/fontawesome-free/css/all.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
}

.navbar-brand {
    background-color: #ccc;
    padding: 4px;
    display: flex;
    align-items: center;
}

.navbar-brand a {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
}

/* .navbar-nav .nav-item {
    border-bottom: 1px solid #ccc;
} */

@media only print {
    main {
        width: 100vw;
        margin: 0;
        padding: 4px;
    }
}

ul {
    list-style-position: inside;
}
