* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* background-color: #ccc;
    display: flex;
    align-items: stretch; */
    font-size: 14px;
}

.navbar-nav {
    width: 100%;
    background-color: #333;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar-brand {
    background-color: #ccc;
    padding: 4px;
    display: flex;
    align-items: center;
}

.navbar-brand a {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-nav>.nav {
    list-style: none;
    padding: 4px;
}

.navbar-nav .nav-item {
    /* padding: 4px; */
    border-bottom: 1px solid #ccc;
}

.navbar-nav .nav-link {
    /* display: block; */
    padding: 4px;
    text-decoration: none;
    color: #fff;

    @apply flex items-center gap-x-2;
}

@media only print {
    main {
        width: 100vw;
        margin: 0;
        padding: 4px;
    }
}
