aside#noticeboard {
    background-color: #fff;
    border-left: 4px inset #ccc;
    width: 15vw;
    right: 0;
    height: 100vh;

    & h3 {
        padding: 4px 15px;
        display: block;
        max-width: 100%;
        font: 1.5rem "Roboto", sans-serif;
        @media screen and (max-width: 768px) {
            font-size: 1rem;
            padding: 4px;
        }
        font-weight: normal;
        text-decoration: underline;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;

    thead th:not(:last-of-type) {
        border-right: 1px solid #ccc;
    }

    tbody td {
        padding: 4px 6px;

        &:not(:last-of-type) {
            border-right: 1px solid #888;
        }
    }
    tbody tr {
        border-top: 1px solid #888;
    }
}

.foldable {
    .foldable-body {
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out;

        &.unfolded {
            height: max-content;
        }
    }
    .foldable-header::before {
        content: "(Click to view)";
        font-size: small;
        vertical-align: middle;
    }
    .foldable-header {
        cursor: pointer;
    }
}

p {
    max-width: 100%;
}

.card {
    background-color: #fff;
    border-radius: 6px;
    & > .header {
        padding: 8px 6px;
        // background-color: #fff;
        border-bottom: 1px solid #ccc;
        border-radius: 6px 6px 0 0;
    }
    & > .footer {
        padding: 4px 6px;
        font-size: 1.2em;
        font-family: Arial, Helvetica, sans-serif;
    }
    & .card-header {
        font-size: 2em;
    }
}

.table {
    tfoot {
        td {
            padding: 14px 2px;
            span,
            a {
                padding: 2px 6px;
                text-decoration: none;
                background-color: #ccc;
                margin: 0 2px;
                border-radius: 3px;
                &.active {
                    background-color: #000;
                    color: #fff;
                }
            }
            span {
                cursor: not-allowed;
            }
            a:hover {
                background-color: #aaa;
                text-decoration: underline;
            }
        }
    }
}

.alert {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 20px;
    border-radius: 6px;
    &.alert-success {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;
    }
    &.alert-danger {
        background-color: red;
        border-color: #ebccd1;
        color: #fff;
    }
}
.tag-input {
    background-color: #ccc;
    margin-right: 4px;
    padding: 2px 6px;
    border-radius: 24px;
    button {
        background-color: inherit;
        border: none;
        font-size: 1.1rem;
        margin: 0 4px;
        cursor: pointer;
        height: 0;
        &:hover {
            text-decoration: underline;
        }
    }
    span {
        margin-left: 4px;
    }
}

@import "components/spacings";
@import "components/forms";
@import "components/buttons";
