.btn {
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
}

$colorsWithWhiteText: ( blue, red, green);

@each $color in $colorsWithWhiteText {
    .btn-#{"" + $color} {
        background-color: $color;
        color: #fff;
        &:hover {
            background-color: lighten($color, 10%);
        }
    }
}
