@import "colors";

.btn {
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
}
a.btn {
    text-decoration: none;
}

// @include colors;

@each $color in $colors {
    .btn-#{"" + $color} {
        background-color: $color;
        color: #fff;
        &:hover {
            background-color: lighten($color, 10%);
        }
    }
    a.btn-#{"" + $color} {
        background-color: $color;
        &:hover {
            background-color: darken($color, 30%);
        }
        color: #fff;
    }
}
