$colors: (blue, red, green, white, black);

@each $color in $colors {
    .bg-#{"" + $color} {
        background: $color;
    }
    .text-#{"" + $color} {
        color: $color;
    }
}

.bold {
    font-weight: bold;
}
