.modal {
    @apply min-w-full min-h-full md:p-8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);

    .content {
        // @apply border-4 border-fuchsia-500;
        min-width: 70%;
        margin: 100px 0;
        // @apply overflow-y-auto;

        @media print {
            width: 100%;
            margin: 0;
        }

        // overflow-y: auto;
        // overflow-x: auto;
    }

    // overflow-y: auto;

}

.modal.hide {
    display: none;
}
