.modal {
    @apply w-screen h-screen grid place-items-center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.1);

    .content {
        @apply overflow-y-auto shadow-lg px-4 rounded border-black sm:min-w-[40%] h-[70%];

        @media print {
            width: 100%;
            margin: 0;
        }
    }
}

.modal.hide {
    display: none;
}
