$marginBottom: 0.75em;

.mb {
    margin-bottom: $marginBottom;
}

@for $i from 1 through 5 {
    .mb-#{$i} {
        margin-bottom: $marginBottom * $i;
    }
    .mt-#{$i} {
        margin-top: $marginBottom * $i;
    }
    .mx-#{$i} {
        margin-left: $marginBottom * $i;
        margin-right: $marginBottom * $i;
    }
    .my-#{$i} {
        margin-top: $marginBottom * $i;
        margin-bottom: $marginBottom * $i;
    }
    .ml-#{$i} {
        margin-left: $marginBottom * $i;
    }
    .mr-#{$i} {
        margin-right: $marginBottom * $i;
    }

    .pl-#{$i} {
        padding-left: $marginBottom * $i;
    }
    .pr-#{$i} {
        padding-right: $marginBottom * $i;
    }
    .pt-#{$i} {
        padding-top: $marginBottom * $i;
    }
    .pb-#{$i} {
        padding-bottom: $marginBottom * $i;
    }
    .p-#{$i} {
        padding: $marginBottom * $i;
    }
    .px-#{$i} {
        padding-left: $marginBottom * $i;
        padding-right: $marginBottom * $i;
    }
    .py-#{$i} {
        padding-top: $marginBottom * $i;
        padding-bottom: $marginBottom * $i;
    }
}

.pl {
    padding-left: $marginBottom;
}
.pr {
    padding-right: $marginBottom;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &.between {
        justify-content: space-between;
    }
    &.start {
        align-items: flex-start;
    }
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: calc(100% / 12) * $i;
    }
}
