name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # - name: Login to GHCR
      #   uses: docker/login-action@v3
      #   with:
      #     registry: ghcr.io
      #     username: ${{ secrets.GHCR_USERNAME }}
      #     password: ${{ secrets.ACCESS_TOKEN }}

      # - name: Build & Push EMR Image
      #   run: |
      #     docker build -t ghcr.io/${{secrets.GHCR_USERNAME}}/emr-portal-app:latest .
      #     docker push ghcr.io/${{secrets.GHCR_USERNAME}}/emr-portal-app:latest

      # - name: Build & Push Nginx Image
      #   run: |
      #     docker build \
      #       -f infra/Dockerfile.nginx \
      #       -t ghcr.io/${{secrets.GHCR_USERNAME}}/emr-nginx:latest .
      #     docker push ghcr.io/${{secrets.GHCR_USERNAME}}/emr-nginx:latest

      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          authkey: ${{ secrets.TS_AUTH_KEY }}
          hostname: github-actions-ci
          tags: tag:productions

      - name: Wait for Tailscale
        run: sleep 5

      - name: Ping Server
        run: tailscale status && ping -c 3 100.114.76.111

      # - name: SSH into server
      #   run: |
      #     # Create the key file and set permissions
      #     echo "${{secrets.HOST_PRIVATE_SSH_KEY}}" > ./_mcadmin_ssh
      #     chmod 600 ./_mcadmin_ssh

      #     # SSH with StrictHostKeyChecking disabled for automation
      #     ssh -vvv -o StrictHostKeyChecking=no \
      #         -o UserKnownHostsFile=/dev/null \
      #         -i ./_mcadmin_ssh \
      #         mcadmin@100.114.76.111 << 'EOF'
      #       set -e;
      #       docker login ghcr.io -u ${{secrets.GHCR_USERNAME}} --password ${{secrets.ACCESS_TOKEN}};
      #       cd /var/www/hmis;
      #       docker compose -f docker-compose.yml -f docker-compose-prod.yml pull;
      #       docker compose -f docker-compose.yml -f docker-compose-prod.yml up -d;
      #       docker image prune -f;
      #     EOF

      #     # Cleanup ssh file
      #     rm ./_mcadmin_ssh;

      - name: SSH Into Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 100.114.76.111
          key: ${{secrets.HOST_PRIVATE_SSH_KEY}}
          fingerprint: ""
          username: mcadmin
          debug: true
          script: |
            set -e
            # Login to GHCR on the remote server
            # echo "${{ secrets.ACCESS_TOKEN }}" | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin
            # Navigate to project directory and build
            # 1. Load NVM into this session
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

            cd /var/www/hmis
            git pull

            composer install
            composer dump-autoload -o

            if php artisan migrate:status | grep -q "Pending"; then
                echo "Found pending migrations. Running migrate..."
                php artisan migrate --force -n --isolated
            else
                echo "No pending migrations to run."
            fi

            npm ci

            npm run build
            ./cloudflare-purge.sh
            sudo supervisorctl restart all
