name: Test Project

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - develop

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/peteradeojo/emr-portal-app:latest
      credentials:
        username: ${{github.actor}}
        password: ${{secrets.ACCESS_TOKEN}}
    steps:
      - uses: actions/checkout@v5
      - run: yarn
      - run: composer install --prefer-dist --no-interaction
      - name: Build Static Assets
        run: yarn build
      - name: Set Environment
        run: |
          touch .env
          echo "BROADCAST_CONNECTION=null" >> .env
          echo "QUEUE_CONNECTION=null" >> .env
          echo "APP_KEY=" >> .env
          php artisan key:generate
      - name: Run tests
        run: BROADCAST_CONNECTION=null QUEUE_CONNECTION=null EVENT_DRIVER=null php artisan test
