name: Test Project

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/peteradeojo/emr-portal-app:latest
      credentials:
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}
    steps:
      - uses: actions/checkout@v3
        with:
          node-version: 20
      - run: yarn
      - run: yarn build
